Analysis_DataR_run-001.root
czas_do_kalibracji.txt
DataR_run-001.root
kroki.txt
new_Analysis_DataR_run-001.root
root-20240110T135902Z-002.zip
root-20240110T141328Z-002.zip
rotation_time_clusterization.py
tspectrum_coincidence.C
tspectrum_coincidence.hpp
tspectrum_time_export.C
tspectrum_time_export.hpp
zliczenia_coinc_0
zliczenia_coinc_1
.vscode/settings.json
root/HcompassR_run_20231023_094349.root
root/HcompassR_run_20231106_105002.root
